

.navbar,
.navbar-inverse{
    border-radius: 0px;
}

.navbar-blue{
    background-image: -webkit-linear-gradient(#3c3c3c 0%, #222 100%);
    background-image: -o-linear-gradient(#3c3c3c 0%, #222 100%);
    background-image: linear-gradient(#3c3c3c 0%, #222 100%);
    background-repeat: repeat-x;
    
}

.navbar-inverse .navbar-brand{
    color: #9d9d9d;
}

.navbar-blue .navbar-brand,
.navbar-blue .navbar-nav>li>a{
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}

.navbar-blue .navbar-brand:focus,
.navbar-blue .navbar-brand:hover{
    color: #fff;
    background-color: transparent;
}